/*
	minimalPlayer audio player version 1.0
	Creator: dasdesign
	Created: 22/4/2015

	browsers supported: IE10 and later,Mozilla,Safari,Chrome,Opera!
*/
@charset "utf-8";
#player{
	width: auto;
	height: auto;
	position: relative;
	border-radius: 50%;
	display:block;
	background-color: #fff;
}
#knobSlider{
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: block;
}
#play_pause{
	width:auto;
	height:auto;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	margin:auto;
	cursor:pointer;
	display:block;
}
#playBtn{
	width:100%;
	height:100%;
	position:absolute;
	display:block;
}
#pauseBtn{
	width:100%;
	height:100%;
	position:absolute;
	display:none;
}
#play_pause img{
	display:block;
    margin:0 auto;
}
canvas{
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 50%;
	display: block;
}
#warning{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: auto;
	text-align: center;
	color: #474747;
	font-weight: bold;
}
#audio{
	display: none;
	width: 0px;
	height: 0px;
}
svg{
	display:block;
    margin:0 auto;
}
svg path{
	/*fill:#FFFFFF;*/
}
svg:hover path{
	/*fill:rgba(241,190,38,1.00);*/
}
