#about-wrapper {
  display: flex;
  text-align: justify;
  justify-content: space-between;
  padding: 0 50px;
  padding-top: 25vh;
  .about-col {
    padding: 50px;
    h2 {
      font-size: 1.4rem!important;
      text-align: left;
      line-height: 1.4;
    }
    p {
      a {
        border-bottom: 2px solid #333;
      }
    }
  }
}
