footer {
  height: 100vh;
  padding: 0 10%;
  margin-bottom: 200px;
  color: #fff;
  margin-top: 200px;
  text-transform: uppercase;
  line-height: 2;
  p {
    font-size: 80%;
    &:last-child {
      font-size: 70%;
    }
  }
}
