footer {
  width: 80%;
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  margin: auto;
  font-size: .7rem;
  line-height: 2;
  font-weight: 500;
  text-transform: uppercase;
  p:nth-child(2) {
    font-size: 90%;
  }
}
