header {
  width: 100%;
  position: fixed;
  z-index: 9999;
  #main-nav {
    width: 830px;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    letter-spacing: 1px;
    line-height: 2;
    #brand {
      h1 {
        font-size: .8rem;
        margin: 0;
      }
      li:last-child {
        font-size: .7rem;
      }
      a:hover {
        opacity: 1;
      }
    }
    #menu {
      width: 530px;
      display: flex;
      justify-content: space-between;
      li {
        a.active {
          &:hover {
            opacity: 1;
          }
        }
        a.inactive {
          opacity: .6;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
