#intro {
  h1 {
    font-size: 6vh;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2vh;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 20px;
    @media only screen and (min-device-height : 1045px) {
      letter-spacing: 1vh;
    }
    span {
      font-size: 70%;
    }
  }
}
