#intro {
  height: 100vh;
  // background: #000;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Yep! */
    font-size: 3vh;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2vh;
    font-weight: 100;
    line-height: 1.4;
    // color: #fff;
    margin-bottom: 20px;
    @media only screen and (min-device-height : 1045px) {
      letter-spacing: 1vh;
    }
    span {
      font-size: 60%;
      letter-spacing: 1vh;
      @media only screen and (min-device-height : 1045px) {
        font-size: 45%;
      }
    }
  }
  i {
    // color: #fff;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%); /* Yep! */
    font-size: 5vh;
  }
}
