#recent {
  #recent-projects {
    .row {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      img {
        height: 70vh;
      }
      h2 {
        font-size: 20vh;
        text-align: right;
        line-height: 1;
        font-weight: 500;
        margin-top: -15px;
        span {
          font-weight: 100;
          font-size: 1rem;
        }
      }
      iframe {
      }
      p {
        text-align: justify;
        font-size: .9rem;
        line-height: 2;
      }

      [data-accordion-group] {
        width: 100%
      }
      [data-control] {
        display: flex;
        justify-content: space-between;
        align-self: baseline;
        &:hover {
        }
      }
      [data-content] {
      }
    }
  }
}