.single-project {
  margin-top: 0;
  padding: 0;
  text-align: center;
  color: #000;
  .return {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5rem;
  }
  h2 {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  p {
    margin-bottom: 100px;
  }
  #soundPlayer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Yep! */
    z-index: 999;
    input.knob {
      display: none;
    }
  }
}
