#works {
      margin-top: 40px;
      .single-work {
            img {
              height: 250px;
              float: left;
              margin-right: 40px
            }
            h2 {
             font-family: 'Permanent Marker', cursive;
             text-align: left;
             font-size: 3vh;
             line-height: 1;
             font-weight: 500;
             margin-top: 20px;
             margin-bottom: 40px;
            }
            iframe {
            }
            p {
              width: 70vh;
              margin-top: 40px;
              text-align: justify;
              font-size: 1rem;
              line-height: 2;
            }
      }
}
